body {
        color: #585858;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.75;
}

.data {
    color: #585858;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 300;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

/* First row */ 

.firstrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Centra orizzontalmente */
    padding-top: 50px;
}

.propic {
    display: block;
    border-radius: 150px;
    width: 20%;
    padding-right: 20px;
}

.content {
    display: flex;
    flex-direction: column; /* Dispone gli elementi in colonna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    text-align: center; /* Centro il testo */
}

/* Second row */
.description {
    color: #585858;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 300;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Projects grid */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Immagini quadrate di dimensioni più piccole */
    gap: 10px;
    justify-content: center;
}

.clickable-image {
    display: inline-block;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.clickable-image img {
    display: block;
    width: 100%;
    height: auto;
}

/* Social icon grid */

.social-grid {
    display: grid;
    width: 250px;
    grid-template-columns: repeat(4, 1fr); /* Immagini quadrate di dimensioni più piccole */
    gap: 5px;
    padding-left: 20px;
    justify-content: center;
}

.social-icon {
    display: inline-block;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.social-icon img {
    display: block;
    width: 100%;
    height: auto;
}